body {
margin-top: 0;
padding: 20px;

}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    color: rgb(120, 186, 243);
}
.calculadora {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    background-color: rgb(31, 102, 243);
    border-radius: 5%;
    lighting-color: rgb(33, 75, 216);
    border-color: rgb(151, 151, 221);

 }
button, input {
border-radius: 5%;
background-color: rgba(192, 207, 248, 0.966) ;
width: 70px;
height: 50px;
font-size: 20px;
margin: 5px;
lighting-color: blanchedalmond;

}
#operador1, #operador2 {
    border-radius: 5%;
    width: 164px;
    padding: 10px;
    background-color: rgba(192, 204, 240, 0.938) ;

}

#resultado {
    border-radius: 5%;
    width: 164px;
    padding: 10px;
    background-color: rgba(192, 204, 240, 0.938) ;
}

